<div class="container my-5">
    <h2 class="mb-4 text-center">Practice Areas</h2>
    <div class="row">
      <!-- Civil Law Attorney -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Civil Law Attorney"
          />
          <div class="card-body">
            <h5 class="card-title">Civil Law Attorney</h5>
            <p class="card-text">
              Siddharth Jain & Co. has a long history of civil litigation
              practice. We have extensive experience in all stages of trial
              and appellate practice, as well as in administrative hearings
              and alternative dispute resolution proceedings...
            </p>
            <a
              href="/practice-area/civil-law-attorney"
              class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Family Lawyer -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Family Lawyer"
          />
          <div class="card-body">
            <h5 class="card-title">Family Lawyer</h5>
            <p class="card-text">
              At Siddharth Jain & Co. we can assist and advise you about all
              matters related to family law. We will take into account the
              financial, as well as emotional interests of our clients...
            </p>
            <a href="/practice-area/family-lawyer" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Property Lawyer -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Property Lawyer"
          />
          <div class="card-body">
            <h5 class="card-title">Property Lawyer</h5>
            <p class="card-text">
              Both buying and selling real estate need significant financial
              capital outlay and careful planning. As a result, this is a
              hotbed for disagreements...
            </p>
            <a href="/practice-area/property-lawyer" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Criminal Defence Lawyer -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Criminal Defence Lawyer"
          />
          <div class="card-body">
            <h5 class="card-title">Criminal Defence Lawyer</h5>
            <p class="card-text">
              With over 10 years of experience, our lawyers are leading
              criminal law specialists. We have a solid record for taking on
              challenging cases and getting the best results for our
              clients...
            </p>
            <a
              href="/practice-area/criminal-defence-lawyer"
              class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Intellectual Property Registry -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Intellectual Property Registry"
          />
          <div class="card-body">
            <h5 class="card-title">Intellectual Property Registry</h5>
            <p class="card-text">
              Our IP lawyers specialize in harnessing the intellectual
              property of their clients to help them succeed in the
              marketplace. Our IP attorneys offer advice on the most effective
              strategies for our clients to get the most out of their IP
              holdings...
            </p>
            <a
              href="/practice-area/intellectual-property-registry"
              class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Corporate & Commercial Litigation -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Corporate & Commercial Litigation"
          />
          <div class="card-body">
            <h5 class="card-title">Corporate & Commercial Litigation</h5>
            <p class="card-text">
              Commercial disputes can have high stakes and can have
              significant global impact. Both individuals and organisations
              try to proactively lower their risk...
            </p>
            <a
              href="/practice-area/corporate-commercial-litigation"
              class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Cyber Law -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Cyber Law"
          />
          <div class="card-body">
            <h5 class="card-title">Cyber Law</h5>
            <p class="card-text">
              As businesses become more entrenched in their use of data and
              technology, companies face a labyrinth of complex laws and
              regulations that continue to evolve and adapt...
            </p>
            <a href="/practice-area/cyber-law" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Banking and Finance -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Banking and Finance"
          />
          <div class="card-body">
            <h5 class="card-title">Banking and Finance</h5>
            <p class="card-text">
              Our attorneys are seasoned professionals in the field of Banking
              & Finance Law. Our clientele includes leading public and private
              sector banks, domestic, offshore, and international financial
              institutions...
            </p>
            <a
              href="/practice-area/banking-and-finance"
              class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Alternative Dispute Resolution -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img
            src="https://karanjawala.in/wp-content/uploads/elementor/thumbs/Corporate-Litigation-pq8052rhh8dsq32c5xmz5b8zd4sil9d2vni7ctbtao.jpg"
            class="card-img-top"
            alt="Alternative Dispute Resolution"
          />
          <div class="card-body">
            <h5 class="card-title">Alternative Dispute Resolution</h5>
            <p class="card-text">
              Alternative dispute resolution has grown significantly to
              encompass a wide range of legal issues in addition to the more
              standard business disputes. ADR has grown in importance as the
              initial step in the dispute settlement process...
            </p>
            <a
              href="/practice-area/alternative-dispute-resolution"
              class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>