<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />

    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />

    <!-- This site is optimized with the Yoast SEO plugin v22.6 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>
      Experienced Corporate Lawyer in Delhi | Legal Expertise &amp; Advice
    </title>
    <meta
      name="description"
      content="At Siddharth Jain & Co. Lawyer Services, we provide legal help for all types of cases. Our experienced team of lawyers in Delhi offers comprehensive legal advice and representation in the areas of family law, corporate law, civil litigation and more. Get the justice you deserve today"
    />
    <link rel="canonical" href="https://sjcolegal.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Experienced Corporate Lawyer in Delhi | Legal Expertise & Advice"
    />
    <meta
      property="og:description"
      content="At Siddharth Jain & Co. Lawyer Services, we provide legal help for all types of cases. Our experienced team of lawyers in Delhi offers comprehensive legal advice and representation in the areas of family law, corporate law, civil litigation and more. Get the justice you deserve today"
    />
    <meta property="og:url" content="https://sjcolegal.com/" />
    <meta property="og:site_name" content="Siddharth Jain & Co." />
    <meta
      property="article:modified_time"
      content="2024-05-12T06:48:40+00:00"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
        .contact-header {
            margin-top: 80px;
        }
      .position-relative img {
        filter: brightness(70%);
      }
      .overlay-content {
        max-width: 400px;
      }
      .card img {
        height: 200px;
        object-fit: cover;
      }
      .card-body h5 {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .testimonial-message {
        font-size: 1.25rem;
        color: #555;
      }
    </style>
  </head>
  <body style="background-color: #f0f8ff;">
    <%- include('../partials/navbar') %>

    <section class="contact-header"></section>

    <%- include('./practice_areas') %>


    <%- include('../partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
